body {
    background-color: #505e57;
    color: white;
    font-family: 'Playfair Display', serif;
    padding: 5px;
  }
  
  header {
    font-size: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 95%;
    max-width: 1100px;
    margin: auto;
    padding: 5px;
  }
  
  h1 {
    text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.3);
  }

  button {
    font-size: 1rem;
  }

  .load-meme {
    color: #fff;
    text-shadow: 1px 1px 1px rgba(50, 50, 50, 0.3);
    width: 12em;
    max-height: 75px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    transition: 0.5s;
  }

.container {
    width: 90%;
    max-width: 1024px;
    margin: auto;
    padding: 5px;
  }

  .meme-box {
    text-shadow: 1px 1px 1px #1a1d1d4d;
    padding: 50px;
    position: relative;
    width: 200px;
  }

